<% flash.each do |type, msg| %>
    <div id="error-explanation">
      <div><%= msg %></div>
    </div>
<% end %>

  <br />

<%= form_tag("/login") do %>
  
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email" %>


    <%= label_tag "password", "Password" %>
    <%= password_field_tag "password" %>

    <br />
    <br />

<div class="actions">
    <%= submit_tag "Log In" %>
</div>
<% end %>

<br />

    <div class="text">Please Sign Up or Log In</div>

    <div class="button" onclick="location.href='/signup'">
        <div>Sign Up</div>
    </div>
</div>