<h2>Name: <%= @retailer.name %></h2><br />

<h3>Schedule: <%= @retailer.schedule %></h3><br /> 

<p> Finished product: </p>
<p><% @retailer.finished_products.each do |finished_product| %></p>
<p> 
  <%= finished_product.quantity %>
  <%= finished_product.product %>
</p>
<% end %>

<%= link_to("Add finshed product for this retailer", new_retailer_finished_product_path(@retailer)) %><br />

<%= link_to("Edit Retailer", edit_retailer_path(@retailer)) %><br />
<%= link_to("Delete Retailer", retailer_path(@retailer), data: {method: :delete, confirm: "Are you sure you want to delete this retailer?"}) %>
