<% @finished_products.each do |finished_product| %>

  <% @finished_products.each do |finished_product| %>
    <h2>Finished Product for <%= finished_product.retailer.name %></h2>
    <p>
      <%= finished_product.quantity %> Boxes<br />
      <%= finished_product.product %> 
    </p>
  <% end %>
    
    <%= link_to "Edit", edit_retailer_finished_product_path(@retailer, finished_product) %> |
    <%= link_to "Delete", [@retailer, finished_product], method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>